<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/fragmentos :: head"></head>
<body class="sb-nav-fixed">
    <nav th:replace="layout/fragmentos :: cabecera"> </nav>
    <div id="layoutSidenav">
        <div th:replace="layout/fragmentos :: menu">
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container pt-4">
                    <form th:action="@{/cliente/form}" th:object="${cliente}" method="post">
                        <input type="hidden" th:field="*{id}"/> <!-- Mapea el ID para su edición -->
                        <div class="card">
                            <div class="card-header"> Datos de los Clientes</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label> Nombre: </label>
                                        <input  th:field="*{nombres}" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label> Apellidos: </label>
                                        <input  th:field="*{apellidos}" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label> Correo: </label>
                                        <input th:field="*{correo}" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label> Fecha de Registro: </label>
                                        <input th:field="*{fechaRegistro}"  type="date" class="form-control" >
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 text-center">
                                        <button type="submit">
                                        <i class="fa-solid fa-floppy-disk"></i>  Guardar Cliente
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <!-- Inicio Tabla-->
                    <div    class="card">
                        <div class="card-header">
                            Clientes Registrados
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Fecha de Registro</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr th:each="item : ${listaClientes}">
                                            <td th:text="${item.nombres}"></td>
                                            <td th:text="${item.apellidos}"></td>
                                            <td th:text="${item.correo}"></td>
                                            <td th:text="${item.fechaRegistro}"></td>
                                            <td class="text-center">
                                                <a class="btn btn-warning" th:href="@{/cliente/editar/}+${item.id}">
                                                    <i class="fa-solid fa-edit"></i> Editar
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-danger" th:href="@{/cliente/eliminar/}+${item.id}" onclick="return confirm('¿Desea eliminar la categoría?')">
                                                    <i class="fa-solid fa-trash-alt"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>    

                    <!-- Fin Tabla-->
                </div>
            </main>
            <footer th:replace="layout/fragmentos :: pie"></footer>
        </div>
    </div>
    <div th:replace="layout/fragmentos :: librerias"></div>
</body>

</html>